/* Modal styles */
#birthdayModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically and horizontally */
}

#birthdayModal .modal-content {
    background-color: #faf0d7;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center; /* Center text horizontally */
    animation: slideIn 0.5s;
    position: relative; /* Required for absolute positioning of close button */
}

#birthdayModal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #550748;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#birthdayModal .close:hover,
#birthdayModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* General styles */
body {
    font-family: 'Glacial Indifference', monospace;
    background-color: #7c746c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer-container {
    padding: 50px;
    box-sizing: border-box; /* Include padding in element's total width and height */
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #faf0d7;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

.soundboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.soundboard button {
    padding: 20px;
    font-size: 1em;
    font-family: 'Glacial Indifference', monospace; /* Add this line */
    background-color: #37271d;
    color: #fbf1d8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.soundboard button:hover {
    background-color: #d0974f;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

footer p {
    margin: 0;
}

#audio-toggle-container {
    margin-top: 10px; /* Space between the text and the audio toggle icon */
}

.audio-toggle {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation: fadeIn 0.5s;
    justify-content: center;
    align-items: center; /* Center vertically */
}

.modal-content {
    background-color: #fbf1d8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    animation: slideIn 0.5s;
    text-align: center; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Required for absolute positioning of close button */
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #550748;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* To center the image horizontally */
}

audio {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background-color: #fbf1d8; /* Background color of the audio player */
    color: #fbf1d8; /* Text color */
    border-radius: 8px;
    padding: 10px;
}

audio::-webkit-media-controls-panel {
    background-color: #d0974f; /* Background color for controls */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #fbf1d8; /* Control color */
}

/* Hide background audio element */
#bg-music {
    display: none;
}
